
# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides [ "simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "Project-3.world"	
)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model "r0"
driver
( 
  name "stage"
  provides [ "position2d:0" "laser:0" "gripper:0" ]
  model "robotProj3" 
)

